

.BG{
	-fx-background-image: url("ressources/wallpaper.jpg") ;
	-fx-background-size: contain ;
	-fx-background-repeat: no-repeat ;
}

#fondbtn{
		-fx-background-radius:20px;
	-fx-border-radius:10px;
	-fx-effect: dropshadow( gaussian , black , 4,0,0,1 );
	-fx-cursor:hand;
}

.fondinv{
		-fx-background-image: url("ressources/cobblepaper.png") ;
	-fx-background-size: contain ;
	-fx-background-repeat: no-repeat ;

	-fx-effect: dropshadow( gaussian , black , 19,0,0,5 );
}



.BG2{

	-fx-background-color:black;
}

.fondInventaire{
	-fx-background-color:#C6C6C6;
	-fx-background-radius:20px;
	-fx-border-radius:10px;
	-fx-effect: innershadow( gaussian, white, 20, 0, 5, 5 );
}

#record-sales {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #555 0%, #777 100%),
        #555,
        #777,
        radial-gradient(center 50% 50%, radius 100%, #555, #777);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

#record-sales:hover {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #222 0%, #444 100%),
        #222,
        #444,
        radial-gradient(center 50% 50%, radius 100%, #222, #444);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
}

.scroll-pane{
    -fx-background-color:transparent;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
   -fx-background-radius:10px;
}

.scrollbar{
	-fx-background-color:transparent;
}


.buttonMenus{
	-fx-background-image: url("ressources/btn1.png") ;
	-fx-background-size: contain ;
	-fx-background-repeat: no-repeat ;
}

.buttonMenus:hover{

	-fx-background-image: url("ressources/btn2.png") ;
	-fx-background-size: contain ;
	-fx-background-repeat: no-repeat ;
	}

#caseCraft{
    -fx-background-color: #9C9C9C;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5 );
    -fx-background-radius: 5;
}

#caseCraft:hover{
    -fx-background-color: #5C5C5C;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 10, 0, 5, 5 );
    -fx-background-radius: 5;
}

#caseCraft2{
    -fx-background-color: #1C1F22;
    -fx-opacity:0.85;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 1 ), 10, -10, 5, 5 );
    -fx-background-radius: 5;
}

#caseCraft2:hover{
    -fx-background-color: black;
    -fx-opacity:0.85;
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 1 ), 10, -10, 5, 5 );
    -fx-background-radius: 5;
}


.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:#9C9C9C;
}

.increment-button, .decrement-button {
    -fx-background-color: #9C9C9C;
    -fx-border-color: transparent;
    	-fx-border-radius:20px;
	-fx-background-radius: 5em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: #BDBDBD;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-effect: innershadow( gaussian, #9C9C9C, 20, 0, 5, 5 );
    -fx-width:100px;
}

.scroll-bar:vertical{
	-fx-background-radius: 10em;
	-fx-height:80px;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #9C9C9C;
    -fx-background-radius: 0em;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-radius-top: 50;
    -fx-height:80px;
    -fx-background-color:#959595;
	-fx-effect: innershadow( gaussian, black, 20, 0, 5, 5 );
	-fx-opacity:0.7;
}

.remp{
	-fx-opacity:0;
}
	

.tab-pane > .tab-header-area > .headers-region > .remp {

	-fx-opacity:0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
	-fx-background-radius-top: 50;
	-fx-border-color:#9C9C9C;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected {
	-fx-background-color:#BDBDBD;
	-fx-effect: innershadow( gaussian, white, 10, 0, 5, 5 );
	-fx-opacity:1;
}

.tab-header-background {
    -fx-background-color: transparent ;
}

.cur{
	-fx-cursor:hand;
}

.crafting:hover{
	-fx-background-color:black;
}

#cur{
	-fx-cursor:hand;
}

